vendor/
tests/
.phpstan/
.github/
.git/
.idea/

data/database/*
!data/database/.gitkeep

data/images/*
!data/images/.gitkeep

data/logs/*
!data/logs/.gitkeep

composer.lock
docker-compose.yml
phpstan.neon.dist
README.md
phpunit.xml.dist
