parameters:
    level: max

    paths:
        - public
        - src
        - tests

    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        print_suggestions: false

rules:
    - Jesperbeisner\Fwstats\PHPStan\ControllerKeywordsRule
    - Jesperbeisner\Fwstats\PHPStan\ControllerImplementsInterfaceRule
