:root {
    --main-text-color: #ffffff;
    --main-text-hover-color: #000000;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

h1, h2 {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}

/* --- Header Start --- */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 10px;
    gap: 10px
}

header > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-color);
    gap: 10px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    width: 100px;
}

nav a {
    text-decoration: none;
    color: var(--main-text-color);
}

nav a:hover, nav a:focus {
    color: var(--main-text-hover-color);
}

/* --- Start Big Screen --- */
@media (min-width: 800px) {
    header {
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    header > div > a {
        justify-content: flex-start;
    }

    nav > ul {
        justify-content: flex-end;
        gap: 10px;
    }
}
/* --- Header End --- */

/* --- Footer Start --- */
footer {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
    width: 70%;
    padding-bottom: 10px;
}

footer > a {
    font-size: 0;
    color: var(--main-text-color);
}

footer > a:hover {
    color: var(--main-text-hover-color);
}
/* --- Footer End --- */

/* --- Main Start --- */
main {
    display: flex;
    flex-direction: column;
    flex: 10;
    width: 70%;
}

main > h2 {
    padding-top: 20px;
}

main > .content {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #d5dae6;
    width: 100%;
    color: black;
    font-size: 16px;
    margin: 15px 0;
}

main table {
    margin: 25px;
    width: 96%;
    border-collapse: collapse;
}

main table thead {
    padding-bottom: 10px;
}

main > div > table > tbody > tr:hover {
    background-color: white;
}

tbody > tr > td:first-of-type, thead > tr > td {
    font-weight: bold;
}

thead > tr > td {
    padding-bottom: 15px;
}

/* --- Main End --- */

/* --- Helpers --- */
.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

.bold {
    font-weight: bold;
}

.player_profile_link {
    color: #295b6f;
}

.player_profile_link:hover {
    color: var(--main-text-hover-color);
}

main > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}