#github-logo {
    height: 32px;
    width: 32px;
    color: #f14668;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #eeeeee;
}

header {
    width: 100%;
}

main {
    padding: 0 5px !important;
    width: 100% !important;
}

#site-footer {
    display: flex;
    min-height: 3.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#site-footer > a {
    color: #ffffff;
}

#site-footer > a:hover {
    color: #f14668;
}

#site-main #search {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue !important;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

#flash-message-success, #flash-message-error {
    width: 100%;
    flex-grow: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 1.5rem !important
}

#english-icon, #german-icon {
    width: 32px !important;
    height: 32px !important;
}

#english-icon > img, #german-icon > img {
    min-width: 32px !important;
    min-height: 32px !important;
    max-width: 32px !important;
    max-height: 32px !important;
}

header .container {
    padding: 0 5px !important;
}
